<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
 .fieldError {
 border-color: #bd2130;
 }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form role="form" action="/board/new" th:object="${boardForm}" method="post">
    <div class="form-group">
      <label th:for="title">제목</label>
      <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요">
      <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="content">내용</label>
      <textarea type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label th:for="memberList">작성자</label>
      <select class="form-control">
        <option th:each="val : ${memberList}" th:value="${val?.id}" th:utext="${val?.username}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>